* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

input {
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 3px;
  height: 10vh;
}

.username-input {
  margin: 0 5px;
  padding: 10px;
}

.username-btn {
  width: 50px;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.title {
  font-size: 24px;
  padding-left: 5px;
}

.title span {
  color: #6EA4BF;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.users-container {
  width: 20%;
  height: 90vh;
  border-right: 1px solid black;
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  height: 10vh;
}

.typing {
  font-size: 12px;
  color: #999999;
  padding-left: 5px;
}
